html {
    background: #2F3E46;
    -webkit-font-smoothing: antialiased;
}

blockquote {
    margin: 16px 16px 30px 16px;
    padding: 26px 24px;
    font-size: 16px;
    background: #4BA3C3;
    border-left: 5px solid;
    border-color: #175676;
    color: #CCE6F4;
    font-size: 2    0px;
}
blockquote::after {
    content: '';
    margin-top: -30px;
    padding-top: 0;
    position: relative;
    bottom: -50px;
    left: 20px;
    border-width: 30px 0 0 30px;
    border-style: solid;
    border-color: #4BA3C3 transparent;
    display: block;
    width: 0;
    color: #CCE6F4;
}
blockquote p::before {
    content: "“";
    font-family: Georgia;
    font-size: 40px;
    line-height: 0;
    display: inline-block;
    color: #CCE6F4;
}
blockquote cite {
    float: right;
    font-size: 15px;
    color: #CCE6F4;
}
blockquote cite:before {
    content: '- ';
    color: #CCE6F4;
}

body {
    background: #5B5750;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: aliceblue;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

h1 p {
    display:inline-block;
    margin: 0;
}

.space-1 {
        margin-top: 1em;
    }

.space-2 {
        margin-top: 2em;
    }

.space-3 {
        margin-top: 3em;
    }

.red-1 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0 auto;
    color: #D62839;
}

.red-2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0 auto;
    color: #BA324F;
}

b, strong {
    font-weight: 600;
}

.pos-center {
     text-align: center;
}

img.w-100px {
    width: 100px
}

img.w-200px {
    width: 200px
}

img.w-600px {
    width: 600px
}

img, iframe {
    animation: colorize 0.75s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 0px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    margin: auto 0.25em;
    
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}